@import url('reset.css');

* {
    box-sizing: border-box;
}

a {
    color: #fff;
    text-decoration: none;
}

body {
    background-color: #0B0B0B;
    color: #fff;
    font-size: 24px;
    line-height: 28px;
    /* font-family: 'Roboto', sans-serif; */

    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
}


.header {
    min-height: 100vh;
    position: absolute;
    z-index: 5; 
    background: rgba(11, 11, 11, 0.3);
    left: 0;
    right: 0;
}

.container {
    padding: 0 15px;
    max-width: 1230px;
    margin: 0 auto;
}

.header-top {
    display: flex;
    justify-content: space-between;
}

.logo {
    padding-top: 36px;
    margin-bottom: 29px;
}

.header-btn {
    width: 60px;
    height: 60px;
    border: 1px solid #fff;
    margin-top: 31px;
    background: rgba(255, 255, 255, 0.1);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
    justify-content: center;
}

.header-btn div {
    width: 36px;
    height: 2px;
    background-color: #fff;
}

.header-content__title {
    font-family: 'Roboto', sans-serif;
    font-size: 96px;
    line-height: 112px;
    margin-bottom: 40px;
}

.header-content__text {
    width: 284px;
    margin-bottom: 25px;
}

.button {
    display: inline-block;
    padding: 30px 62px;
    background: rgba(255, 255, 255, 0.15);
    border: 1px solid #fff;
    font-weight: bold;
    transition: background-color .5s ease-in;
    
}

.button:hover {
    background-color: #770302;
    
}

.menu {
    background-color: #000;
    position: absolute;
    top: 0;
    left: -200%;
    width: 100%;
    z-index: 7;
    transition: left .7s;
}

.menu.active {
    left: 0;
}

.container-menu {
    position: relative;
}

.close-btn {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 15px;
    top: 31px;
    cursor: pointer;
}

.close-btn::after,
.close-btn::before {
    content: '';
    width: 70px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    transform-origin: left;
}

.close-btn::after {
    transform: rotate(45deg);
}

.close-btn::before {
    transform: rotate(-45deg);
    bottom: -1px;
}

.menu__list {
    height: 100vh;
    display: flex;
    align-items: center;
}

.menu__list a {
    display: inline-block;
    font-size: 48px;
    line-height: 58px;
    font-weight: 700;
    padding: 30px 25px 14px 0;
    border-bottom: 3px solid #B70021;
    /* max-width: 368px; */
    min-width: 368px;
    transition: border-color .5s, color .5s, transform 0.5s, margin-left 0.5s;
}


.menu__list a:hover {
    border-color: #fff;
    color:  #770302;
    transform: scale(1.2);
    margin-left: 37px;
}


.slider__item {
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

.slider .slick-dots button {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #0B0B0B;
    border: none;
    font-size: 0;
    cursor: pointer;
    /* outline: none; */
}

.slider .slick-dots .slick-active button {
    background-color: #fff;
    
}

.slider .slick-dots li {
    display: inline-block;
    margin: 0 10px;
}

.slider .slick-dots {
    margin: -55px auto 0;
    position: relative;
    z-index: 6;
    max-width: 1220px;
    padding: 0 10px;
}

.slider {
    min-height: 100vh;
    margin-bottom: 105px;
}

.statistics {
    margin-bottom: 100px;
}

.statistics-items {
    display: flex;
    justify-content: space-around;
}

.statistics-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.statistics-item__title {
    margin-bottom: 19px;
    
}

.statistics-item__num {
    font-size: 96px;
    line-height: 112px;
    margin-bottom: 7px;
    padding-left: 40px;
    font-family: 'Roboto', sans-serif;
}

.statistics-item__num span {
    font-size: 24px;
    line-height: 28px;
    font-family: 'Roboto Condensed', sans-serif;
    margin-left: -20px;
    display: inline-block;
    position: relative;
}


.statistics-item__descr {
    color: #B70021;
}

.statistics-item__num--speed::before {
    content: '+';
    position: absolute;
    bottom: 65px;
}

.video {
    margin-bottom: 100px;
}

.advantages-inner__row {
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.advantages__title {
    color: #B70021;
    font-size: 36px;
    line-height: 42px;
    position: absolute;

}

.advantages__title--speed {
    top: 0;
    left: 0;
}

.advantages__title--advantages {
    bottom: 0;
    right: 0;
}

.advantages__text {
    width: 303px;
}

.advantages-descr {
    max-width: 570px;
    width: 100%;
    
}

.design {
    margin-bottom: 100px;
}

.design__images {
    margin-bottom: 100px;
}

.design-row {
    display: flex;
    justify-content: space-between;
}

.design-row__item {
    max-width: 570px;
    width: 100%;
    padding-right: 17px;
}

.design-row__item-num {
    color: #B70021;
}

.design-row__item-text {
    max-width: 450px;
    margin-left: 105px;
    padding-right: 5px; 
}

.footer {
    background-color: #690102;
    padding: 83px 0 20px 0px;
}

.footer-btn {
    margin-bottom: 83px;
    text-align: center;
}

.footer-copy ul {
    display: flex;
    column-gap: 5px;
    justify-content: center;
    font-weight: 700;
    flex-wrap: wrap;
}

.footer-copy li + li::before {
    content: '|';
    display: inline-block;
    margin: 0 10px;
}

@media (max-width: 1220px) {
    .advantages__text {
        padding-left: 20px;
    }
    .design__images img {
        width: 100%;
    }

    .design-row {
        flex-direction: column;
        text-align: center;
    }

    .design-row__item-text {
        margin-left: 0;
        padding-right: 0;
        max-width: none;
    }

    .design-row__item + .design-row__item {
        margin-top: 50px;
    }

    .design-row__item {
        margin: 0 auto;
    }
}

@media (max-width: 930px) {
    .advantages-inner__row {
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 50px;
    }
    .advantages-descr {
        text-align: center;
        display: flex;
        flex-direction: column;

    }

    .advantages-inner__row--mobile .advantages-descr {
        flex-direction: column-reverse;
    }

    .advantages__title {
        position: static;
    }

    .advantages__text {
        margin: 25px auto;
        padding-left: 0;
    }

    .advantages-inner__row--mobile .advantages-descr {
        order: -1;
    }
}

@media (max-width: 800px) {
    .statistics-items {
        flex-wrap: wrap;
    }
    .statistics-item {
        margin-bottom: 60px;
    }

    .design-row__item-text {
        font-size: 20px;
    }
}


@media (max-width: 650px) {
    .advantages__img img{
        width: 100%;
    }
} 

@media (max-width: 440px) {
    .logo img {
        width: 200px;
    }

    .header-content {
        text-align: center;
    }
    .header-content__text {
        font-size: 18px;
        margin: -30px auto 30px;
    }

    .header-content__title {
        font-family: 'Roboto', sans-serif;
        font-size: 72px;
        margin-top: 20px;
        line-height: 85px;
    }

    .menu__list a {
        min-width: 265px;
        font-size: 35px;
        line-height: 40px;
    }
    .menu__list a:hover {
        transform: scale(1.1);
        margin-left: 25px;
    }

    .statistics {
        margin-bottom: 30px;
    }

    .video {
        margin-bottom: 50px;
    }
}

@media (max-height: 475px){
    .header, .slider, .slider__item, .menu{
        height: 600px;
    }

    .menu__list {
        padding-top: 150px;
    }

    .menu__list a {
        min-width: 265px;
        font-size: 35px;
        line-height: 40px;
    }
    .menu__list a:hover {
        transform: scale(1.1);
        margin-left: 25px;
    }
}